Suriel/.vs/Suriel/FileContentIndex/0fdde6b5-4b5b-4376-8b1c-ec0b97341288.vsidx
Suriel/.vs/Suriel/FileContentIndex/bedc09d0-980a-46db-b10b-ff52a2e5713c.vsidx
Suriel/.vs/Suriel/FileContentIndex/d4eeb365-63a6-4093-8115-3d01192a936d.vsidx
Suriel/.vs/Suriel/FileContentIndex/821af283-ab72-4e3e-8997-bd58edd49628.vsidx
Suriel/.vs/Suriel/FileContentIndex/f1e27b79-1e83-418a-b777-e267efa43fbb.vsidx
Suriel/Suriel/obj/Debug/net8.0-windows/apphost.exe
